.App {
  text-align: center;
}

/* CART ICON  */

.cart-image {
  width: 40px;
}

.cart-button {
  background-color: transparent;
  border-color: transparent;
}

/* NAVBAR */

.column-category {
  
}

.column-brand {
/*   margin: 10px;
 */}

.brand-title {
  text-decoration: none;
}

.brand-title:hover {
  text-decoration: none;
  color:white;
}

.btn-nav {
  border-radius: 0px;
}

.btn-primary {
  color: white;
  background-color: brown;
  border-color: brown;
}

.btn-primary:hover {
  background-color: black;
  border-color: black;
}

.row-category {
  background-color: brown;
  padding: 10px;

}

.brand-title {
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
